[submodule "front"]
	path = front
	url = https://github.com/Geo-Trace/front-geotrace.git
[submodule "back"]
	path = back
	url = https://github.com/Geo-Trace/back-geotrace.git
[submodule "database"]
	path = database
	url = https://github.com/Geo-Trace/database-geotrace.git
